<div class="hero_area">
         <!-- header section strats -->
        <%= render 'shared/header' %>
         <!-- end header section -->
</div>
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>About us</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <%= render 'shared/why' %>
      <!-- end why section -->
      <!-- arrival section -->
     <%= render 'shared/arrival' %>
      <!-- end arrival section -->
      <!-- footer section -->
     <%= render 'shared/footer' %>
